build/
DerivedData/
.DS_Store

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.Python
env/
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/

pip-log.txt
pip-delete-this-directory.txt
*.log
local_settings.py
docs/_build/
target/
.python-version
.env
